@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color:white;
    font-family: Roboto;
}

.cabecalho{
    background-image: url(imagens/fundo-header.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    width: 1200px;
    margin:  0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.logo{
    width: 170px;
    height: 170px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
}

.nome-loja{
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    line-height: 80%;
    font-family: Great Vibes;
    font-weight: 100;

}
.texto-pequeno{
    font-size: 35px;
}
.menu{
    background-color: #D8B281;
    Width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #A55C33

}
.item-menu{
    color: #A55C33;
    font-size: 18px;
    font-weight: 500;
}
.foto-banner{
    width: 1200px;
    height: 400px;
    object-fit: cover;
}
.banner{
    width: 1200px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 5px solid #A55C33;
    object-fit: cover;
    
}

.cardapio{
    width: 1200px;
    height: 450px;
    background-color: #D8B281;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #A55C33;
    padding-top: 18px;
    text-align: center;
    color: #A55C33
}

.linha-divisoria{
    background-color: #A55C33;
    height: 5px;
    padding-bottom: 0%;
    
}

.texto{
    text-align: left;
    font-size: 20px;
    column-count: 4;
    padding-top: 55px;
    
}

.fotos{
    width: 1200px;
    text-align: center;
    background-color: #D8B281;
    margin: auto;
    border-bottom: 5px solid #A55C33 ;
    padding-top: 19px;
    color: #A55C33
}

.imagens{
    width: 200px;
    height: 200px;
    border: 5px solid;
    column-count: 3;
    object-fit: cover;
    margin-top: 60px;
    margin-bottom: 60px;

}

.bolo-meio{
    margin-left: 100px;
    margin-right: 100px;

}

.contatos{
    width: 1200px;
    background-color: #D8B281;
    color: #A55C33;
    text-align: center;
    margin: auto;
    padding-top: 18px;
    margin: auto;
    border-bottom: 5px solid #A55C33 ;


}

.footer{
    width: 1200px;
    background-color: #D8B281;
    color: #A55C33;
    text-align: center;
    margin: auto;
    padding-top: 18px;
    margin: auto;
}
.nome-loja2{
    margin: 0;
    font-size: 50px;
    color: #A55C33;
    line-height: 80%;
    font-family: Great Vibes;
    font-weight: 100;
}

.icon{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
